{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mon panier</h1>
    {% if cart|length > 0 %}
        <ul>
            {% for item in cart %}
                <li>{{ item.product.name }} - {{ item.quantity }} x {{ item.product.price }}€</li>
            {% endfor %}
        </ul>
        <p>Total: {{ total }}€</p>

        <a href="#">Passer la commande</a>
    {% else %}
        <p>Votre panier est vide.</p>
    {% endif %}
{% endblock %}

